<% wrap_layout :layout do %>

  <div class='container'>
    <canvas id='canvas'>
      It appears that your browser does not support the canvas element.
    </canvas>

    <div class='slider'>
      <input id='brightness-adjustment' class='slider__range' type='range' value='0' min='0' max='255'>
    </div>

    <%= yield %>
  </div>

  <%= image_tag 'palmtree.jpg', id: 'palmtree', class: 'hidden' %>
<% end %>
